:host {
    margin-top: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    height: 100vh;
 }

 mat-card{
    width: 600px;
    margin: 2em auto;
    text-align: center;
    height: 550px;
}

button{
    margin-left: 100px;
    width: 400px;
}

.btn-register{
    background-color: green;
    color: honeydew;
}

.login{
    display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px;
}
.register{
    display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px;
     
}