<mat-card>
    <mat-card-content>
        <div class="header">
            <h2>Select Your Options here!</h2>
        </div>
        <div class="image-pos">
            <img src="assets/images/nice-coffee.jpg" alt="">
        
        </div>
        <div class="login">
            <button mat-raised-button color="primary" mat-button routerLink="/login">Go to Login</button>
        </div>
        <div class="register">
            <button class="btn-register" mat-button routerLink="/register">Create a new user</button>
        </div>
            
    </mat-card-content>
</mat-card>

